.monstei-card{
    border-radius: 4px;
    width: 27em;
    overflow: hidden;
    box-shadow: 0 0 3px 1px lightgray;
    display: inline-flex;
    margin-bottom: 1.5em;
    background-image: linear-gradient(#f3dbab, #a17b4d);
    text-shadow: 0 0 4px black;
}
.monstei-card__egg{
    width: 40%;
}
.monstei-card__egg img{
    width: 100%;
    height: 12em;
    object-fit: cover;
}
.monstei-card__image{
    width: 60%;
}
.monstei-card__image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}