.monstie-list{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.title{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    padding-left: 1em;
    margin-bottom: 1em;;
}
.title h1{
    margin: auto;
}
.title a{
    display: flex;
    align-items: center;
    color: white;
    font-size: large;
    text-decoration: none;
}